.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-links a {
    margin: 0 20px;

}